<div>
    <h3>Add Comment</h3>
    <div>
        <form id="FormAddComment_{id_post}" action="{action}" method="{method}">
            <div>Name: </div>
            <div><input type="text" class="name"/></div>
            <div>Email:</div>
            <div><input type="text" class="email" /></div>
            <div>comment: </div>
            <div><textarea rows="4" cols="73" class="commentMessage"></textarea></div>
            <div><input type="submit" value="Send" name="submit"></div>
        </form>
    </div>
</div>