<div>
    <h3>Add post</h3>
    <div>
        <form id="addPostForm" action="{action}" method="{method}">
            <div><label for="name">Name: </label></div>
            <div><input type="text" id="name"/></div>
            <div><label for="email">Email: </label></div>
            <div><input type="text" id="email" /></div>
            <div><label for="postmessage">message: </label></div>
            <div><textarea rows="4" cols="73" id="postmessage"></textarea></div>
            <div><input type="submit" value="Send" name="submit"></div>
        </form>
    </div>
</div>