<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <link href="assets/css/yacs.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="assets/js/ajaxMaster.js"></script>
    <script type="text/javascript" src="assets/js/posts.js"></script>
    <title>{title}</title>
</head>
<body>
    <div>
        <h1>Ffs 0.1</h1>
        <div id="success" class="success"></div>
        <div id="errors" class="errors"></div>
        <div id="addPost" class="block">{{require _addPost}}</div>
        <h2>Comments</h2>
        <div id="posts"></div>
    </div>
</body>
</html>